/* Added base colors */
:root {
    --light: #f6f6f6;
    --darkblue: #2c3e50;
}

/* Header style */
header {
    background-color: var(--darkblue);
    color: var(--light);
}

/* Imported Google Font */
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }